





<!-- Banner-Section -->
<section class="ban">
    <img class="banner" src="./assets/image/ban12.jpg" alt="">
</section>

<section class="founder">
 <!-- About-US -->
  <div class="container containerfounder">
     <div class="row">
        <div class="col-lg-8 col-md-6 col-12">
            <div class="Aboutus-Details">
                <h3 class="heading">FOUNDER & CHAIRMAN</h3>
                <p class="about">
                  Monkey D. Luffy, a young man with the ability to stretch his body
                  like rubber after eating a Devil Fruit. Luffy sets out on a journey
                  to find the legendary treasure known as "One Piece" and become the Pirate King.
                  The world of "One Piece" is vast and diverse, with various islands, seas, and powerful pirate crews.
                 The series explores themes of friendship, dreams, and the pursuit of freedom
                </p>
             </div>
         </div>
         <div class="col-lg-4 col-md-6 col-12">
            <div class="AboutUs-Image">
              <img class="img-fluid abouting" src="./assets/image/0b2a0b764b80137faccea2a28c1456e5.jpg" alt="">
            </div>
        </div>
     </div>
     </div>
  
</section>

<!--vegetables  section-->
<div class="vegetables_section layout_padding">
  <div class="container">
    <div class="image_2"><img src="./assets/image/img-2.png"></div>
    <h1 class="about_taital">Our Vegetables</h1>

    <div class="vegetables_section_2 layout_padding">
      <div class="row">
        <div class="col">
          <div class="box_section">
            <div class="image_4"><img src="./assets/image/img-4.png"></div>
            <h2 class="dolor_text">$<span style="color: #ebc30a;">10</span></h2>
            <h2 class="dolor_text">Tomato</h2>
            <h2 class="dolor_text_1">1 kg</h2>
            <p class="tempor_text">adipiscing elit, sed do eiusmod tempor </p>
            <div class="buy_bt_1 active"><a href="#">Buy Now</a></div>
          </div>
        </div>
        <div class="col">
          <div class="box_section">
            <div class="image_4"><img src="./assets/image/img-5.png"></div>
            <h2 class="dolor_text">$<span style="color: #ebc30a;">10</span></h2>
            <h2 class="dolor_text">Cabbage</h2>
            <h2 class="dolor_text_1">1 kg</h2>
            <p class="tempor_text">adipiscing elit, sed do eiusmod tempor </p>
            <div class="buy_bt_1"><a href="#">Buy Now</a></div>
          </div>
        </div>
        <div class="col">
          <div class="box_section">
            <div class="image_4"><img src="./assets/image/img-6.png"></div>
            <h2 class="dolor_text">$<span style="color: #ebc30a;">10</span></h2>
            <h2 class="dolor_text">Eggplant</h2>
            <h2 class="dolor_text_1">1 kg</h2>
            <p class="tempor_text">adipiscing elit, sed do eiusmod tempor </p>
            <div class="buy_bt_1"><a href="#">Buy Now</a></div>
          </div>
        </div>
        <div class="col">
          <div class="box_section">
            <div class="image_4"><img src="./assets/image/img-7.png"></div>
            <h2 class="dolor_text">$<span style="color: #ebc30a;">10</span></h2>
            <h2 class="dolor_text">Lady-finger</h2>
            <h2 class="dolor_text_1">1 kg</h2>
            <p class="tempor_text">adipiscing elit, sed do eiusmod tempor </p>
            <div class="buy_bt_1"><a href="#">Buy Now</a></div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col">
          <div class="box_section">
            <div class="image_4"><img src="./assets/image/img-9.png"></div>
            <h2 class="dolor_text">$<span style="color: #ebc30a;">10</span></h2>
            <h2 class="dolor_text">Potato</h2>
            <h2 class="dolor_text_1">1 kg</h2>
            <p class="tempor_text">adipiscing elit, sed do eiusmod tempor </p>
            <div class="buy_bt_1"><a href="#">Buy Now</a></div>
          </div>
        </div>
        <div class="col">
          <div class="box_section">
            <div class="image_4"><img src="./assets/image/img-10.png"></div>
            <h2 class="dolor_text">$<span style="color: #ebc30a;">10</span></h2>
            <h2 class="dolor_text">Capsicum</h2>
            <h2 class="dolor_text_1">1 kg</h2>
            <p class="tempor_text">adipiscing elit, sed do eiusmod tempor </p>
            <div class="buy_bt_1"><a href="#">Buy Now</a></div>
          </div>
        </div>
        <div class="col">
          <div class="box_section">
            <div class="image_4"><img src="./assets/image/img-11.png"></div>
            <h2 class="dolor_text">$<span style="color: #ebc30a;">10</span></h2>
            <h2 class="dolor_text">Pumpkin-Patch</h2>
            <h2 class="dolor_text_1">1 kg</h2>
            <p class="tempor_text">adipiscing elit, sed do eiusmod tempor </p>
            <div class="buy_bt_1"><a href="#">Buy Now</a></div>
          </div>
        </div>
        <div class="col">
          <div class="box_section">
            <div class="image_4"><img src="./assets/image/img-12.png"></div>
            <h2 class="dolor_text">$<span style="color: #ebc30a;">10</span></h2>
            <h2 class="dolor_text">Green chilli</h2>
            <h2 class="dolor_text_1">1 kg</h2>
            <p class="tempor_text">adipiscing elit, sed do eiusmod tempor </p>
            <div class="buy_bt_1"><a href="#">Buy Now</a></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!--vegetables section end -->




