body
{
    margin: 0;
}
.nav_tag
{
    background-color:  firebrick;
}
.nav_log
{
    width: 10%;
}

.nav_container {
    display: flex;
    padding: 15px;
}


ul.nav_ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    color: white;
}

.nav_li {
    margin: 20px;
}

a.nav_a {
    color: white;
}

.bottoming {
    height: 700px;
    width: 100%;
}

.logo{
    width: 7%;
    margin-right: 10px;
    
}

section {
    text-align: center;
}



.container {
    padding: 20px;
    
}

.abouting{
    height: 170px;
    width: 170px;
}

.about{
    margin-top: 20px;
    margin-left: 100px;
    text-align: justify;
}

.heading{
    margin-left: 100px;
}

.protect-container{
    border: 5px solid rgb(73, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    
    


}
.product-name{
    font-weight:bold;
    text-align: center;
}
.price{
    font-weight: bold;
    color: green;
}

.banner{
    height: 200px;
    width: 1500px;
}

.vegetables_section {
    background-color: rgb(255, 255, 255)

}

.containerfounder{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 10px;
}

.founder{
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.back{
    background-color: rgb(42, 28, 0);
}

.footer{
    background-color: black;
    padding: 10px;
    min-height: 25%;
}

.footer-h{
    text-align: center;
    color: rgb(255, 112, 112);
}
.footer-about{
    padding: 10px;
    min-height: 25%;
}
.footer-link{
    padding: 10px;
    min-height: 25%;
}
.footer-contacts{
    color: white;
    padding: 10px;
    min-height: 25%;
}

.unorder{
    list-style: none;
}

.side-p{
    margin-top: 16px;
}

.list {
    margin-right: 40px;
    margin-top: 16px;
}

.footer-pa{
    margin-top: 16px;
    color: white;
    text-align: justify;
}

.foot-logo{
    width: 80px;
    height: 80px;
  
}

.bg-light {
    background-color: #5677a4;
}


/* Veg section */


.vegetables_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.vegetables_section_2{
    width: 100%;
    float: left;
}
.box_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    border: 2px;
    border-style: dotted;
    padding: 20px 0px;
    margin-bottom: 30px;
}
.image_4 {
    width: 100%;
    float: left;
    text-align: center;
    min-height: 117px;
}
.dolor_text{
    width: 100%;
    float: left;
    font-size: 22px;
    color: #050505;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0px;
}
.dolor_text_1{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #edcb44;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0px;
}
.tempor_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    text-align: center;
    margin-left: 0px;
}
.buy_bt_1 {
    width: 130px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.buy_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 8px 0px;
    border-radius: 4px;
}
.buy_bt_1 a:hover {
    color: #ffffff;
    background-color: #ebc30a;
}

.buy_bt_1.active a:hover {
  background-color: #ecad15;
  color: white;
}
.choose_section {
    width: 100%;
    float: left;
    background-color: #f9f9f9;
    height: auto;
    background-size: 100%;
    padding-bottom: 90px;
    box-shadow: 0 5px 5px -5px #f2f2f2;
}

.image_2{
    width: 100%;
    float: left;
    text-align: center;
}

.about_taital{
    width: 100%;
    float: left;
    font-size: 50px;
    color: #050505;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}


/* Contact section */
.contact_section {
    width: 100%;
    float: left;
    background-color: #fafafa;
    height: auto;
    margin-top: 80px;
}
.mail_sectin {
    width: 100%;
    float: left;
}
.email-bt {
    color: #989696;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 20px;
    margin-top: 25px;
    background: transparent !important;
    border: 1px solid #e8e8e8;
}
.massage-bt {
    color: #989696;
    width: 100%;
    height: 150px;
    font-size: 18px;
    padding: 50px 20px 10px 20px;
    margin-top: 25px;
    background: transparent !important;
    border: 1px solid #e8e8e8; 
}
.send_bt {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.send_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #ffffff;
    padding: 8px 0px;
    border-radius: 50px;
}
.send_bt a:hover {
    color: #ffffff;
    background-color: #ebc30a;
}


.col-md-6 {
    text-align: center;
}

.location_text {
    margin-top: 30px;
    margin-bottom: 30px;
}





