<!-- <p>contact-page works!</p> -->

<!--contact section start -->
<div class="contact_section layout_padding ">
    <div class="container">
      <div class="image_2"><img src="./assets/image/img-2.png"></div>
      <h1 class="about_taital">Contact Us</h1>
      <div class="row">
          <div class="col-md-6">
            <div class="mail_sectin">
              <input type="text" class="email-bt" placeholder="Your Name" name="Name">
              <input type="text" class="email-bt" placeholder="Email" name="Name">
              <input type="text" class="email-bt" placeholder="Phone Number" name="Name">
              <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="Massage"></textarea>
              <div class="send_bt"><a href="#">Send</a></div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="location_text"><a href="#"><i class="fa-solid fa-location-dot fa-xl"></i><span class="padding_left_15"> 4th Tokyo, Minato-011</span></a></div>
            <div class="location_text"><a href="#"><i class="fa-regular fa-envelope fa-xl"></i><span class="padding_left_15"> sunilsait.b@gmail.com            </span></a></div>
            <div class="location_text"><a href="#"><i class="fa-solid fa-phone fa-xl"></i><span class="padding_left_15"> 6369814107</span></a></div>
            <hr class="border-top border-3 border-dark">
          <div class="location_text"><a href="#"><i class="fa-brands fa-instagram fa-xl" style="color: #d62976;"></i><span class="padding_left_15"> Instagram</span></a></div>
          <div class="location_text"><a href="#"><i class="fa-brands fa-facebook fa-xl"></i><span class="padding_left_15"> Facebook</span></a></div>
          <div class="location_text"><a href="#"><i class="fa-brands fa-twitter fa-xl" style="color: #1da1f2;"></i><span class="padding_left_15"> Twitter</span></a></div>
          
          
          </div>
        </div>
    </div>
  </div>
  <!--contact section end -->