<!-- <footer section> -->
    <section>
        <div class="container-fluid footer">
          <div class="container">
            <div class="row">
              <!-- about me -->
              <div class="col-lg-4 col-md-4 col-6 footer-about">
                <h3 class="footer-h">About Us</h3>
                
                <p class="footer-pa">
                  Monkey D. Luffy, a young man with the ability to stretch his body like rubber after eating a Devil Fruit. 
                  Luffy sets out on a journey to find the legendary treasure known as "One Piece" and become the Pirate King.
                </p>
              </div>
              <!-- use link -->
              <div class="col-lg-4 col-md-4 col-6 footer-link">
                <h3 class="footer-h">Site Map</h3>
                <ul class="unorder">
                  <li class="list">
                    <a href="" class="link">Home</a>
                  </li>
                  <li class="list">
                    <a href="" class="link">About us</a>
                  </li>
                  <li class="list">
                    <a href="" class="link">Shop</a>
                  </li>
                  <li class="list">
                    <a href="" class="link">Contact us</a>
                  </li>
                </ul>
              </div>
              <!-- contact us -->
              <div class="col-lg-4 col-md-4 col-6 footer-contacts">
                <h3 class="footer-h">Contact Information</h3>
                <ul class="footercon">
                <li class="side-p"><b>Address:</b> 4th Tokyo, Minato-011 </li>
                <li class="side-p"><b>Email:</b> sunilsait.b@gmail.com</li>
                <li class="side-p"><b>Phone:</b> 8300144784</li>
                </ul>
                
                <img class="foot-logo" src="./assets/image/foot1.jpg" alt="">
              </div>
      
            </div>
          </div>
        </div>
      </section>